#### **K-최근접 이웃 알고리즘 (K-Nearset Neighbor, KNN)**
- 임의의 데이터(실제 데이터)가 주어지면 그 주변(이웃)의 데이터를 살펴본 뒤 더 많은 데이터가 포함되어 있는 범주로 분류하는 방식이다.
- 가장 간단한 머신러닝 알고리즘으로서, 직관적이고 나름 성능도 괜찮다.
- K를 어떻게 정하는지에 따라서 결과값이 바뀔 수 있다. K는 임의의 데이터가 주어졌을 때 가까운 이웃들의 개수이고 기본값은 5이다.
- K는 가장 가까운 5개의 이웃 데이터를 기반으로 분류하며, 일반적으로 홀수로 사용한다. 짝수일 경우 동점이 되어 하나의 결과를 도출할 수 없기 때문이다.

<img src="./images/knn01.png" width="400px"><img src="./images/knn02.png" width="400px">

<sub>**fit일때 대기 predict일때 동작, 기본값을 홀수로 반드시!**</sub>  
<sub>**왼쪽 그림처럼 하나로 판단하면 이상치 때문에 틀릴 확률이 있음, 그래서 오른쪽처럼 여러개를 가지고 판단**</sub>  

- KNN은 fit을 통해 훈련시키면, 학습하지 않고 저장만 해놓는다. 따라서 이러한 모델을 Lazy Model이라고 부른다.
- 새로운 데이터가 주어지면 그제서야 이웃 데이터를 보고 분류해나간다. 따라서 사전 모델링이 필요업시는 real-time 예측이 이루어진다.

<img src="./images/knn03.jpg" width="400px">
  
- 데이터와 데이터 사이의 거리를 구해야 더 가까운 클래스로 분류할 수 있으며,  
  이는 유클리드 거리(Euclidean Distance)방식과 맨해튼 거리(Manhatten Distance)방식이 있다.

In [2]:
import pandas as pd

c_df = pd.read_csv('./datasets/corona.csv', low_memory=False)
c_df

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,True,False,True,False,False,negative,NaN,NaN,Abroad
1,2,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
2,3,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
3,4,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Abroad
4,5,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Contact with confirmed
...,...,...,...,...,...,...,...,...,...,...,...
278843,278844,30-04-2020,False,False,False,False,False,positive,NaN,male,Other
278844,278845,30-04-2020,False,False,False,False,False,negative,NaN,female,Other
278845,278846,30-04-2020,False,False,False,False,False,negative,NaN,male,Other
278846,278847,30-04-2020,False,False,False,False,False,negative,NaN,male,Other
278847,278848,30-04-2020,False,False,False,False,False,negative,NaN,female,Other

In [ ]:
# 데이터 확인
c_df.info()

In [ ]:
# 데이터 복사

In [ ]:
# 결측치 확인
c_df.isna().sum()

In [ ]:
# 날짜 컬럼 제거하기 corr에 날짜는 안됨

In [ ]:
# Age_60_above, Sex, Ind_ID, Known_contact 컬럼 제거하기 (불필요)

In [ ]:
# 이상치 제거

In [ ]:
# 인덱스 초기화

In [ ]:
# 중복행 검사
# 중복된 데이터를 훈련시킬 필요가 있는가? 라고 생각해보기
# 해당 데이터는 ID도 필요없이 결과만 필요하기 때문에 중복된 데이터를 훈련시킬 필요가 없음. 때문에 중복행 지워주기
# 범주형 데이터는 보통 중복행이 필요없음. 때문에 데이터 개수가 작아질 수 밖에 없고 대신 가중치를 부여해서 훈련시키기

In [ ]:
# 코로나 비중 맞추기
# 언더샘플링 진행

In [ ]:
# 각 컬럼들 값 숫자로 바꾸기

In [ ]:
# 코로나 피쳐 타겟으로 바꿔주기

In [ ]:
encoder.classes_

In [ ]:
# 확인
pre_c_df.Target.value_counts()

In [ ]:
# 데이터 분리하기
# 하이퍼 파라미터 지정하기